{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body class="bg-black text-white">

    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-gray-900 py-4 shadow">
            <div class="max-w-6xl mx-auto">
                <div class="flex items-center lg:justify-between justify-around">
                    <a href="/" class="text-white">
                        <b><h1 style="font-size: 1.5rem;color: #FFFFFF;">Social Book</h1></b>
                    </a>
                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                        <a href="/signin" class="bg-gray-700 px-6 py-3 rounded-md shadow text-white">Login</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content-->
        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-6">
                <h1 class="lg:text-3xl text-xl font-semibold mb-6 ">Sign Up</h1>
                
                <div>
                
                    {% for message in messages %}
                    <h5 style="color: red;">{{message}}</h5>
                    {% endfor %}

                </div>

                <form action="" method="POST">
                    {% csrf_token %}

                    <input type="text" name="username" placeholder="Username" class="bg-gray-700 text-white mb-2 shadow-none" style="border: 1px solid #d3d5d8 !important;">
                    <input type="email" name="email" placeholder="Email" class="bg-gray-700 text-white mb-2 shadow-none" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password" class="bg-gray-700 text-white mb-2 shadow-none" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" class="bg-gray-700 text-white mb-2 shadow-none" style="border: 1px solid #d3d5d8 !important;">
                    <div class="flex justify-start my-4 space-x-1">
                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked>
                            <label for="chekcbox1"style="color: #000000;"><span class="checkbox-icon"></span> I Agree</label>
                        </div>
                        <a href="#http://127.0.0.1:8000/signup" style="color: #000000;" class="text-gray-400">Terms and Conditions</a>
                    </div>
                    <a href="/settings"><button type="submit" style="border: 4px solid black; padding: 10px 14px;font-weight: bold; display: inline-block; background-color: beige; color: black; cursor: pointer; transition: all 0.3s ease;">Sign Up</button></a>
                    
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base" style="color: #000000;"> Do you have an account? <a style="color: #000000;" href="/signin" class="text-gray-400"> Login </a></p>
                    </div>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <div class="py-3 uk-link-reset bg-gray-900">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <div class="flex space-x-2 text-gray-500 uppercase">
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </div>
                <p class="capitalize">© copyright 2020 by socialbook</p>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>
